* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  transition: height 1s;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 1s;
}

header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  margin: 0;
  margin-top: 20px;
  letter-spacing: 5px;
  color: #444;
}

.card {
  width: 80%;
  background: #fff;
  position: relative;
  color: #212121;
  box-shadow: 0px 2px 10px #888;
}

.search-card {
  width: 70%;
  padding: 5px;
  padding-left: 8px;
  margin: 10px;
}

input {
  width: 100%;
  padding: 10px 0;
  color: #212121;
  font-size: 19px;
  border: 1px solid #eee;
  outline: none;
}

.search-card input {
  width: 100%;
  padding: 10px 0;
  color: #212121;
  font-size: 19px;
  border: none;
  outline: none;
}

.other-cards {
    width: 60%;
    padding: 5px;
    padding-left: 8px;
    color:#888;
}

/**.search-card a {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 25px;
  color: #888;
}**/

.search-card a:hover {
  color: #444;
}

.info-text {
  margin-top: 20px;
  color: #888;
  font-weight: bold;
  text-transform: capitalize;
}

.tags {
  width: 70%;
  justify-content: center;
  margin: 20px 0px;
}

.tags a {
  text-decoration: none;
  background: brown;
  padding: 5px 8px;
  box-shadow: 0 2px 5px #888;
  color: #fff;
  transition: all 0.5s;
  margin-left:2px;
}
 .tags.suggestions a {
    background:#888;
 }

.tags a:hover {
  box-shadow: 0px 5px 5px #888;
}

.tags a span {
    font-weight:300;
    font-size:12px;
}
.error {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  background: #222;
  padding: 20px 10px;
  color: #fff;
  border-radius: 4px;
  display: none;
}

form {
    margin-bottom: 0px;
}

.autocomplete-suggestions {
  box-shadow: 0 2px 5px #888;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer
}

.autocomplete-selected {
  background: #F0F0F0;
}

button {
    background-color:blue;
    padding: 5px 10px;
    color:#fff;
    font-size:21px;
}

@media (max-width: 740px) {
  header h1 {
    font-size: 62px;
    margin-bottom: 10px
  }
  .card {
    width: 90%;
  }
  .search-card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px
  }
  .search-card {
    width: 90%;
  }
  .search-card input[type=search] {
    font-size: 16px;
  }
  .search-card a {
    font-size: 22px;
  }
  .result .snippet {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.4;
    font-size: 14px;
  }
}