<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
  <div class="container">
      <!--<div class="main-content">-->
        <header>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Internet_Archive_logo_and_wordmark.svg/790px-Internet_Archive_logo_and_wordmark.svg.png" />
          <p>Document upload</p>
        </header>
        <div class="other-cards">
            <label>Page Title</label>
            <input type="text" placeholder=""/>
        </div>
        <div class="other-cards">
            <label>Page URL</label>
            <input type="text"/>
        </div>
        <div class="other-cards">
            <label>Page Description</label>
            <input type="text"/>
        </div>
         <br>
          <label class="text-left" style="width: 70%;">Subject Tags</label>
          <div class="card search-card">
              <div class="tags chosen-tags"></div>
              <form id='wiki-search-form'>
                <input id='wiki-search' type="search" placeholder="Add keywords separated by commas " autocomplete="off" />
              </form>
          </div>

        <div class="tags suggestions">
          <!--<a href="#">Oculus </a>-->
        </div>
        <div class="error animated">
          Error...........
        </div>

        <div class="other-cards">
            <label>Creator</label>
            <input type="text"/>
        </div>
        <div class="other-cards">
            <label>Date</label>
            <input type="text"/>
        </div>
        <div class="other-cards">
            <label>Collection</label>
            <input type="text"/>
        </div>
        <div class="other-cards">
            <label>Test item</label>
            <input type="text"/>
        </div>
        <div class="other-cards">
            <label>Language</label>
            <input type="text"/>
        </div>
        <div class="other-cards">
            <label>License</label>
            <input type="text"/>
        </div>
        <div class="other-cards">
            <label>More options</label>
            <a>Additional metadata</a>
        </div>
        <div class="other-cards">
            <!--<button>Upload and create your item</button>-->
        </div>

  <!--</div>-->
</div>

 <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="/static/js/js.js"></script>
</body>